<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>Events</title>
  <meta charset="utf-8"/>
</head>
<body>
  <div id="events">
 <div class="Ab">
    <div class="container">
     <div class="eventimg">
      <div class="row">
       <div class="eventsimagecase">
        <div class="col-lg-12">
        <div class="eventsheadtext">
        <h4><u>Upcoming Events</u></h4>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="/assets/images/Event1.jpg" class="thumbnail">
          <img src="/assets/images/Event1.jpg" alt=""/><p class="eventstext1">20 March 2017</p><p class="eventstext1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="assets/images/Event2.jpg" class="thumbnail">
          <img src="assets/images/Event2.jpg" alt=""/><p class="eventstext1">4 June 2017</p><p class="eventstext1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="/assets/images/Event3.jpg" class="thumbnail">
          <img src="/assets/images/Event3.jpg" alt=""/><p class="eventstext1">16 September 2017</p><p class="eventstext1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="/assets/images/Event4.jpg" class="thumbnail">
          <img src="/assets/images/Event4.jpg" alt=""/><p class="eventstext1">14 November 2017</p><p class="eventstext1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </a>
        </div>
        </div>
 
<div class="eventsheader">
  <h4><u>Past Events</u></h4>
  </div>
    <div class="eventsbottomtext">
      <div>
      <p class="pasteventstext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.</p>

      <p class="pasteventstext">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea.</p>

      <p class="pasteventstext">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
</div>
</body>
</html>




