<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>Songs</title>
  <meta charset="utf-8"/>
</head>
<body>
 <div id="songs">
  <div class="Ab">
    <div class="songheadtext">
      <h4><u>Songs</u></h4>
        </div>
          <div class="container">
            <div class="col-md-12 boxpadding">
              <div class="searchbox">
                <form>
                  <div class="spacingsongs">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                        
                          <label class="Search">Search music</label>
                          <div>
                          <div>
                          <input type="text" data-ng-model="search" class="form-control" placeholder="Search"/>
                          
                          </div>
                          </div>

                        </div>
                      </div> 
                    </div>
                  </div>
                </form>
              </div>
            </div>

        <div>
        <div data-ng-app="myjs">
        <directive-one></directive-one>
        </div>
   
   </div>
  </div>
 </div>
</div>
</body>
</html>










